<div class="main-galery">
    <h2>{{ 'translate.link21'|trans }}</h2>
    <div class="image-card">
        <div class="left">
            <img id="galery-arrow-left" src="/img/arrow.png" alt="{{ 'translate.link6'|trans }}">
        </div>
    </div>
    <div class="image-card">
        <div class="image" id="first-image">
            <img src="/img/logo.png" alt="">
        </div>
    </div>
    <div class="image-card">
        <div class="image">
            <img src="/img/logo.png" alt="">
        </div>
    </div>
    <div class="image-card">
        <div class="image">
            <img src="/img/logo.png" alt="">
        </div>
    </div>
    <div class="image-card">
        <div class="image">
            <img src="/img/logo.png" alt="">
        </div>
    </div>
    <div class="image-card">
        <div class="right">
            <img id="galery-arrow-right" src="/img/arrow.png" alt="{{ 'translate.link7'|trans }}">
        </div>
    </div>
</div>

<footer>
    <div class="contact">
        <p>{{ 'translate.link22'|trans }}</p>
        <a href="tel:+351 291 768 300">+351 291 768 300</a>
        <a>{{ 'translate.link23'|trans }}</a>
    </div>
    <div class="info">
        <h2>POOL PRIME</h2>
        <h3 id="gap">{{ 'translate.link1'|trans }}</h3>
        <p id="gap">Avenida Zarco, 22 - Apartado 155</p>
        <p>9000-069 Funchal</p>
        <p id="gap">Oceans' Lounge - Alameda dos Oceanos, 18 A - L506</p>
        <p>Parque das Nações | 1990-217 Lisboa</p>
        <p id="gap">Portugal</p>
        <div class="other-contact" id="gap">
            <div>
                <div class="one">
                    <i class="fas fa-phone-alt"></i>
                    <a>+351 965 010 265</a>
                </div>
                <div class="one">
                    <img src="/img/phone.png" alt="">
                    <a>291 768 300</a>
                </div>
            </div>
            <div>
                <div class="one">
                    <i class="far fa-envelope"></i>
                    <a>hello@poolprime.pt</a>
                </div>
                <div class="one">
                    <i class="fas fa-map-marker-alt"></i>
                    <a>GOOGLE MAPS</a>
                </div>
            </div>
        </div>
        <div class="authors" id="gap">
            <p>Handcrafted Web design & Front-end development</p>
            <p>by: www.sofia_caires.pt and Valdemar Berenguer</p>
        </div>
    </div>
</footer>