<!DOCTYPE html>
<html>
    {{ include('head.html.twig') }}

    <body>

        {{ include('menu.html.twig') }}

        <div class="main-portfolio">
            <ul>
                <li class="left"><img id="portfolio-arrow-left" src="img/arrow.png" alt="{{ 'translate.link6'|trans }}"></li>
                <li class="center"><h2>Savoy Palace Hotel</h2><h3>Projeto e Instalacao de tubagem, equipamento das piscinas e massagem</h3></li>
                <li class="right"><img id="portfolio-arrow-right" src="img/arrow.png" alt="{{ 'translate.link7'|trans }}"></li>
            </ul>
        </div>

        <div class="main-about-us">
            <h2>{{ 'translate.link8'|trans }}</h2>
            <p>{{ 'translate.link9'|trans }}</p>
            <p>{{ 'translate.link10'|trans }}</p>
            <p>{{ 'translate.link11'|trans }}</p>
        </div>

        <div class="main-services">
            <div id="service-center">
                <h2>{{ 'translate.link12'|trans }}</h2>
                <p>{{ 'translate.link13'|trans }}</p>
            </div>
            <div class="services-subtopics">
                <div class="subtopic">
                    <div class="subtopic-text">
                        <h2>{{ 'translate.link14'|trans }}</h2>
                        <p>{{ 'translate.link15'|trans }}</p>
                    </div>
                    <a href="/construcao/{{ language }}">{{ 'translate.link16'|trans }}</a>
                </div>
                <div class="subtopic">
                    <div class="subtopic-text">
                        <h2>{{ 'translate.link17'|trans }}</h2>
                        <p>{{ 'translate.link18'|trans }}</p>
                    </div>
                    <a href="/renovacao/{{ language }}">{{ 'translate.link16'|trans }}</a>
                </div>
                <div class="subtopic">
                    <div class="subtopic-text">
                        <h2>{{ 'translate.link19'|trans }}</h2>
                        <p>{{ 'translate.link20'|trans }}</p>
                    </div>
                    <a href="/manutencao/{{ language }}">{{ 'translate.link16'|trans }}</a>
                </div>
            </div>
        </div>

        {{ include('footer.html.twig') }}

    </body>
    {{ include('scripts.html.twig') }}
</html>