<header>
    <ul>
        <li class="logo"><a id="image" href="/{{ language }}"><img src="/img/logo.png" alt="logo"></a></li>
        <li class="menu first"><a href="/portfolio/{{ language }}">{{ 'translate.link2'|trans }}</a></li>
        <li class="menu"><a href="/quem-somos/{{ language }}">{{ 'translate.link3'|trans }}</a></li>
        <li class="menu"><a id="galery">{{ 'translate.link4'|trans }}</a></li>
        <li class="menu"><a id="contact">{{ 'translate.link5'|trans }}</a></li>
        <li class="language">
            <ul>
                <li class="first-language"><img alt="{{ 'translate.link36'|trans }}"></li>
                <li class="second-language"><img alt="{{ 'translate.link36'|trans }}"></li>
            </ul>
        <li>
    </ul>
    <div class="burguer">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <img src="/img/arrow.png" alt="{{ 'translate.link6'|trans }}" id="remove-menu">
    <div class="menu-background"></div>
</header>