<!DOCTYPE html>
<html>
    {{ include('head.html.twig') }}

    <body>

        {{ include('menu.html.twig') }}

        <div class="portfolio">
            <h2>{{ 'translate.link2'|trans }}</h2>
            <div class="image-card">
                <div>
                    <img src="../img/logo.png" alt="{{ 'translate.link2'|trans }}-img"></img>
                    <h3>Título da Foto1 Teste</h3>
                    <h4>Descrição da Foto1 Teste</h4>
                </div>
                <div>
                    <img src="../img/footer.png" alt="{{ 'translate.link2'|trans }}-img"></img>
                    <h3>Título da Foto2 Teste</h3>
                    <h4>Descrição da Foto2 Teste</h4>
                </div>
                <div>
                    <img src="../img/logo.png" alt="{{ 'translate.link2'|trans }}-img"></img>
                    <h3>Título da Foto3 Teste</h3>
                    <h4>Descrição da Foto3 Teste</h4>
                </div>
                <div>
                    <img src="../img/logo.png" alt="{{ 'translate.link2'|trans }}-img"></img>
                    <h3>Título da Foto4 Teste</h3>
                    <h4>Descrição da Foto4 Teste</h4>
                </div>
                <div>
                    <img src="../img/logo.png" alt="{{ 'translate.link2'|trans }}-img"></img>
                    <h3>Título da Foto5 Teste</h3>
                    <h4>Descrição da Foto5 Teste</h4>
                </div>
            </div>
        </div>

        {{ include('footer.html.twig') }}

    </body>
    {{ include('scripts.html.twig') }}
</html>